@charset "utf-8";

/* ------------------------------------------------------- 
  Basic Layout
------------------------------------------------------- */

@import url('/common/css/base.min.css');

/* ------------------------------------------------------- 
  Home Layout
------------------------------------------------------- */
.home div.gnav {
	width:90%;
	height:100%;
	padding:5%;
	position:fixed;
	top:0;
	left:0;
	z-index:9;
	overflow:hidden;
	}
		div.gnav nav > ul > li a {
			display:inline;
			}
footer {
	z-index:10;
	}

