@charset "utf-8";

/* ------------------------------------------------------- 
  Basic Layout
------------------------------------------------------- */

@import url('/common/css/base.min.css');
@import url('/common/css/lower.min.css');

/* ------------------------------------------------------- 
  Bukubuku Layout
------------------------------------------------------- */
.bukubuku canvas {
	position:absolute;
	left:0;
	top:0;
	z-index:1;
}




